{% extends 'base.html' %}

{% block container %}
<header class="bg-dark text-light" style="height:110px;">
    <h1 class="ms-3 pt-3">MiniMemo</h1>
    <nav class="nav justify-content-end">
        <a class="btn btn-dark" href="../.." role="button" style="width:72px">New</a>
        <a class="btn btn-dark" href="{% url 'authentication:logout' %}" role="button" style="width:72px">Logout</a>
    </nav>
</header>



<main  style="min-height: calc(100vh - 226px);">
    
    <table class="table table-striped">
        <thead>
            <tr><th style = "width:70%">Memo</th><th style = "width:30%">Button</th></tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr><td class="align-bottom" style = "width:70%">{{post.memo}}<br/><br/>
                        <span class="small fw-light text-info">{{post.date}}</span></td>
                    <td class="align-middle" style = "width:30%" align="center">
                        <form method="post" action="{% url 'edit' post.pk %}" style="display:inline-block;">
                        {% csrf_token %}
                            <button type="submit" class="btn btn-dark" style="width:72px">Open</button>
                        </form>
                        <form method="post" action="{% url 'delete' post.pk %}" style="display:inline-block;">
                        {% csrf_token %}
                            <button type="submit" onclick="return confirm('削除しますか？')" class="btn btn-dark" style="width:72px">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}