{% extends 'base.html' %}

{% block container %}
<header class="bg-dark text-light" style="height:110px;">
    <h1 class="ms-3 pt-3">MiniMemo</h1>
    <nav class="nav justify-content-end">
        <a class="btn btn-dark" href="/signup" role="button" style="width:72px">Signup</a>
    </nav>
</header>



<main style="min-height: calc(100vh - 220px);">
    <form action="/login" method="POST" style="min-height: calc(100vh - 220px);">
        <div class="border border-dark rounded m-4">
            <div class="m-4">
                <h4>ユーザログイン</h4>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingUser" placeholder="UserID">
                    <label for="floatingUser">UserID</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <input type="checkbox" class="form-check-input mb-3" id="check">
                <label for="check" class="form-check-label mb-3">ログイン状態を維持する</label>
                <div class="text-end">
                    <button type="submit" class="btn btn-dark" style="width:72px">Login</button>
                </div>
            </div>
        </div>        
    </form>
</main>

{% endblock %}